

   
      

div.gallery {
    margin: 5px;
    
    float: left;
    width: 24%;
  }
  
  
  div.gallery img {
    width: 100%;
    height: auto;
 box-shadow: rgb(29, 29, 29) 5px 5px 10px;
  }
  


div.desc {
    padding: 15px;
    text-align: center;
    color: rgb(243, 243, 243);
    border-radius: 10px;
    background-color: blue;
    
}




div.desc:hover {

  animation-name: purple;
  animation-duration: 3s;

}
    
    @keyframes purple {
      0%   {background-color: blue;}
      100%  {background-color: purple;}

    }

  





.clear {
    clear:both;
}
















